/* Import fonts */
@import url("https://use.typekit.net/xya8yvm.css");

/* Remove margin for whole page */
*,
*::before,
*::after {
  margin: 0;
}

/* Universal styles */
body {
  background-color: #fdf7f0;
  font-family: effra-cc, sans-serif;
}

/* FRONT PAGE */

/* Header */
header {
  z-index: 1000;
  position: sticky;
  top: 0;
  background-color: #fdf7f0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.111);
  transition: 0.2s ease-in-out;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 20px;
  transition: 0.5s ease-in-out;
}

nav img {
  position: relative;
  top: 60px;
  width: 125px;
  transition: 0.2s ease-in-out;
}

/* Dropdown */
.dropbtn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: effra-cc, sans-serif;
  font-weight: 500;
  font-size: 12pt;
  border: none;
  cursor: pointer;
  background-color: #fdf7f0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: 500;
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  font-size: 10pt;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.111);
  color: black;
  background-color: #fdf7f0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover,
.dropdown-content a:nth-child(even):hover {
  background-color: #7a6b3f;
  color: white;
}
.dropdown-content a:nth-child(even) {
  background-color: #f3eee7;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#login {
  position: relative;
  top: 3px;
  text-decoration: none;
  color: white;
  background-color: #7a6b3f;
  padding: 3px 20px;
  border-radius: 15px;
  transition: 0.1s ease-in-out;
}
#login:hover {
  background-color: #554c2f;
}

/* Hero section */
#hero {
  background-image: url(images/hero.jpg);
  background-size: cover;
  height: calc(100vh - 110px);
  width: auto;
}

#overlay-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 0;
  backdrop-filter: blur(15px);
  color: white;
  height: calc(100vh - 110px);
  width: 35vw;
}
#overlay-box h1 {
  padding-left: 10%;
  font-size: 35pt;
}
#overlay-box p {
  width: 70%;
  font-weight: 300;
  font-size: 15pt;
  padding-left: 10%;
  padding-top: 20px;
}
.cta {
  text-decoration: none;
  color: white;
  display: block;
  margin-top: 40px;
  margin-left: 10%;
  padding: 5px 30px;
  font-size: 15pt;
  font-weight: 900;
  width: fit-content;
  border-radius: 20px;
  background-color: #7a6b3f;
  transition: 0.2s ease-in-out;
}
.cta:hover {
  background-color: #554c2f;
}

/* Event section */
#events {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
#events h1 {
  font-size: 30pt;
  margin-bottom: 30px;
}

/* Event card */
.event-card {
  background-color: #beac76;
  color: white;
  border-radius: 20px;
  width: 280px;
  height: 370px;
  overflow: hidden;
}
.event-card img {
  object-fit: cover;
  width: 100%;
  max-height: 70%;
}

.event-card div {
  margin: auto;
  width: 90%;
}
.event-card div h2 {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18pt;
}
.event-card div a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  height: 40px;
  font-size: 15pt;
  font-weight: 900;
  color: #796b3f;
  border-radius: 20px;
  background-color: #fdf7f0;
}

/* Splide */
.splide__slide {
  display: flex;
  justify-content: center;
}

/* Drone video */
#drone-video {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

video {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
#drone-video div {
  backdrop-filter: brightness(50%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  color: white;
  position: absolute;
  text-align: center;
}

#drone-video h1 {
  width: 80%;
  align-self: center;
  font-size: 25pt;
  font-weight: 500;
}

#drone-video hr {
  border: 1.5px solid white;
  border-radius: 10px;
  width: 50%;
  align-self: center;
}

/* Teams section */
#teams {
  width: 70%;
  margin: auto;
  display: flex;
  gap: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}
#teams h2 {
  font-size: 25pt;
  margin-bottom: 10px;
}
#teams a {
  margin-left: 0;
}

#teams img {
  object-fit: cover;
  width: 800px;
  height: 400px;
  border-radius: 20px;
}

/* Ignorer dette */
main {
  padding-bottom: 10%;
}

/* --FOOTER STYLES------------------------------------- */
footer {
  display: flex;
  justify-content: space-around;
  background-color: #7a6b3f;
  color: #fdf7f0;
  padding: 3vh 0vh 3vh 0vh;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer div a {
  text-decoration: none;
  color: white;
  transition: 0.1s ease-in-out;
}

footer h4 {
  padding-bottom: 1vh;
}

/* Denne div lagde sig vandret, derfor flex columme */
#footer-betingelser {
  display: flex;
  flex-direction: column;
}

#footer-betingelser a {
  color: #fdf7f0;
}

.footer-sociale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 7vw;
  color: #fdf7f0;
}

.footer-sociale p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-sociale .fa-brands {
  font-size: 20px;
}

/* Her starter Hestene/Bestyrelsen */

/* Overskrift */
.hestene-bestyrelse-h1{
  text-align: center;
  margin-top: 5vw;
}

.hestene-bestyrelse-p{
  text-align: center;
  margin-bottom: 5vw;
}

/* Classen split-colored-div-1 er baggrunden for denne sektion.
Vi skifter mellem brugen af classen split-colored-div-1 og split-colored-div-2, for
nemt at kunne tilfølje flere heste*/
.split-colored-div-1 {
  background: linear-gradient(to right, #7A6B3F 0%,#7A6B3F 30%,#F3EEE7 30%, #F3EEE7 100%);
  height: 30vw;
}
/* Classen split-colored-div-1-text bestemmer hvordan teksten skal
forholde sig ift. resten af indholdet i div'en*/
.split-colored-div-1-text{
  margin-left: 45vw;
  margin-top: -23vw;
  z-index: 1;
  max-width: 40vw;
  color: black;
}

/* Titlen under bestyrelsesmedlemmernes navne */
.bestyrelse-p-title {
font-style: italic;
font-size: 15pt;
}

/* Her bestemmes det hvordan billedet skal placeres */
.split-colored-div-1 img {
height: 22vw;
width: 22vw;
margin-left: 19%;
margin-top: 4%;
margin-bottom: 2%;
z-index: +1;
border-radius: 10%;
}

/* Her beskriver vi hvordan split-colored-div-2 bruges. Kommandoerne er de samme,
men værdierne er anderledes og tilpasset efter mockuppen */
.split-colored-div-2 {
  background: linear-gradient(to left, #7A6B3F 0%,#7A6B3F 30%, #FDF7F0 30%, #FDF7F0 100%);
  height: 30vw;
}

.split-colored-div-2-text{
  margin-left: 15vw;
  margin-top: -23vw;
  z-index: 1;
  max-width: 40vw;
  color: rgb(0, 0, 0);
}

.split-colored-div-2 img{
  height: 22vw;
  width: 22vw;
  margin-left: 59%;
  margin-top: 4%;
  margin-bottom: 2%;
  z-index: +1;
  border-radius: 10%;
}

/* Media quiaries 1080px - IPad size*/
@media screen and (max-width: 1080px) {

  /* Overskrift på siden */
  .hestene-bestyrelse-h1{
    font-size: 12pt;
  }

  .hestene-bestyrelse-p{
    font-size: 10pt;
  }

/* Tekster på siden */
  .split-colored-div-1-text p{
    font-size: 12pt;
  }

  .split-colored-div-2-text p{
    font-size: 12pt;
  }

  .split-colored-div-1-text h1{
    font-size: 12pt;
  }

  .split-colored-div-2-text h1{
    font-size: 12pt;
  }

  /* Bestyrelsens titler */
  .bestyrelse-p-title{
    font-size: 10pt;
 }
}

/* Media queries 570px */
@media screen and (max-width: 570px){
  
    /* Overskrift på siden */
    .hestene-bestyrelse-h1{
      font-size: 14pt;
    }
  
    .hestene-bestyrelse-p{
      font-size: 12pt;
      margin-left: 15vw;
      margin-right: 15vw;
    }

   /* Baggrundsfarve ændres */
 .split-colored-div-1 {
  background: linear-gradient(to right, #7A6B3F 0%,#7A6B3F 25%,#F3EEE7 25%, #F3EEE7 100%);
  height: 60vw;
}

 /* Baggrundsfarve ændres */
 .split-colored-div-2 {
  height: 60vw;
}

/* Billede ændres */
.split-colored-div-1 img {
  height: 35vw;
  width: 35vw;
  margin-left: 8%;
  margin-top: 12%;
  }

  .split-colored-div-2 img {
    height: 35vw;
    width: 35vw;
    margin-left: 53%;
    margin-top: 12%;
    }

/* Tekster på siden */
  .split-colored-div-1-text p{
    font-size: 8pt;
    margin-top: 5vw;
    margin-left: 2vw;
    margin-right: -10vw;
  }

  .split-colored-div-2-text p{
    font-size: 8pt;
    margin-top: 5vw;
    margin-right: 2vw;
    margin-left: -10vw;
  }

  .split-colored-div-1-text h1{
    font-size: 12pt;
    margin-top: -40vw;
    margin-bottom: -5vw;
    margin-left: 2vw;
    margin-right: -10vw;
  }

  .split-colored-div-2-text h1{
    font-size: 12pt;
    margin-top: -40vw;
    margin-bottom: -5vw;
    margin-right: 2vw;
    margin-left: -10vw;
  }

  /* Bestyrelsens titler */
  .bestyrelse-p-title{
    font-size: 6pt;
    margin-bottom: -4vw;
 }

}