/* Import fonts */
@import url("https://use.typekit.net/xya8yvm.css");

/* Remove margin for whole page */
*,
*::before,
*::after {
  margin: 0;
}

/* Universal styles */
body {
  background-color: #fdf7f0;
  font-family: effra-cc, sans-serif;
}

/* FRONT PAGE */

/* Header */
header {
  z-index: 1000;
  position: sticky;
  top: 0;
  background-color: #fdf7f0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.111);
}

nav {
  max-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 20px;
}

nav img {
  position: relative;
  top: 60px;
  width: 125px;
}

/* Dropdown */
.dropbtn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: effra-cc, sans-serif;
  font-weight: 500;
  font-size: 12pt;
  border: none;
  cursor: pointer;
  background-color: #fdf7f0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: 500;
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  font-size: 10pt;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.111);
  color: black;
  background-color: #fdf7f0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:nth-child(even) {
  background-color: #f3eee7;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#login {
  position: relative;
  top: 3px;
  text-decoration: none;
  color: white;
  background-color: #7a6b3f;
  padding: 3px 20px;
  border-radius: 15px;
}

/* Hero section */
#hero {
  background-image: url(images/hero.jpg);
  background-size: cover;
  height: 84vh;
  width: auto;
}

#overlay-box {
  position: absolute;
  right: 0;
  backdrop-filter: blur(15px);
  color: white;
  height: 84vh;
  width: 35vw;
}
#overlay-box h1 {
  padding-left: 10%;
  padding-top: 100px;
  font-size: 35pt;
}
#overlay-box p {
  width: 70%;
  font-weight: 300;
  font-size: 15pt;
  padding-left: 10%;
  padding-top: 20px;
}
.cta {
  text-decoration: none;
  color: white;
  display: block;
  margin-top: 40px;
  margin-left: 10%;
  padding: 5px 30px;
  font-size: 15pt;
  font-weight: 900;
  width: fit-content;
  border-radius: 20px;
  background-color: #7a6b3f;
}

/* Event section */
#events {
  text-align: center;
  margin-top: 50px;
}
#events h1 {
  font-size: 30pt;
  margin-bottom: 30px;
}

/* Event card */
.event-card {
  background-color: #beac76;
  color: white;
  border-radius: 20px;
  width: 280px;
  height: 370px;
  overflow: hidden;
}
.event-card img {
  object-fit: cover;
  width: 100%;
  height: 70%;
}
.event-card div {
  margin: auto;
  width: 90%;
}
.event-card div h3 {
  margin-top: 50px;
  font-size: 30pt;
}
.event-card div a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 20px;
  height: 40px;
  font-size: 15pt;
  font-weight: 900;
  color: #796b3f;
  border-radius: 20px;
  background-color: #fdf7f0;
}

/* Splide */
.splide {
  height: 400px;
}

/* Drone video */
#drone-video {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 450px;
  overflow: hidden;
  margin-bottom: 300px;
}

video {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
#drone-video div {
  backdrop-filter: brightness(50%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  color: white;
  position: absolute;
  text-align: center;
}

#drone-video h1 {
  width: 80%;
  align-self: center;
  font-size: 25pt;
  font-weight: 500;
}

#drone-video hr {
  border: 1.5px solid white;
  border-radius: 10px;
  width: 50%;
  align-self: center;
}
