/* Import fonts */
@import url("https://use.typekit.net/xya8yvm.css");

/* Remove margin for whole page */
*,
*::before,
*::after {
  margin: 0;
}

/* Universal styles */
body {
  background-color: #fdf7f0;
  font-family: effra-cc, sans-serif;
}

/* FRONT PAGE */

/* Header */
header {
  z-index: 1000;
  position: sticky;
  top: 0;
  background-color: #fdf7f0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.111);
}

nav {
  max-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 20px;
}

nav img {
  position: relative;
  top: 60px;
  width: 125px;
}

/* Dropdown */
.dropbtn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: effra-cc, sans-serif;
  font-weight: 500;
  font-size: 12pt;
  border: none;
  cursor: pointer;
  background-color: #fdf7f0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: 500;
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  font-size: 10pt;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.111);
  color: black;
  background-color: #fdf7f0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:nth-child(even) {
  background-color: #f3eee7;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#login {
  position: relative;
  top: 3px;
  text-decoration: none;
  color: white;
  background-color: #7a6b3f;
  padding: 3px 20px;
  border-radius: 15px;
}

/* Hero section */
#hero {
  background-image: url(images/hero.jpg);
  background-size: cover;
  height: 84vh;
  width: auto;
}

#overlay-box {
  position: absolute;
  right: 0;
  backdrop-filter: blur(15px);
  color: white;
  height: 84vh;
  width: 35vw;
}
#overlay-box h1 {
  padding-left: 10%;
  padding-top: 100px;
  font-size: 35pt;
}
#overlay-box p {
  width: 70%;
  font-weight: 300;
  font-size: 15pt;
  padding-left: 10%;
  padding-top: 20px;
}
.cta {
  text-decoration: none;
  color: white;
  display: block;
  margin-top: 40px;
  margin-left: 10%;
  padding: 5px 30px;
  font-size: 15pt;
  font-weight: 900;
  width: fit-content;
  border-radius: 20px;
  background-color: #7a6b3f;
}

/* Event section */
#events {
  text-align: center;
  margin-top: 50px;
}
#events h1 {
  font-size: 30pt;
}

/* Event card */
.event-card {
  background-color: #beac76;
  color: white;
  border-radius: 20px;
  width: 280px;
  height: 400px;
  overflow: hidden;
}
.event-card img {
  height: 70%;
}
.event-card div {
  margin-left: 20px;
  margin-top: 10px;
}
.event-card div h3 {
  font-size: 30pt;
}
.event-card div p {
  cursor: pointer;
  width: 90%;
  height: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #796b3f;
  border-radius: 20px;
  background-color: #fdf7f0;
}

/* Splide */
.splide {
  height: 450px;
}

/* Ignorer dette */
main{ 
padding-bottom: 10%;}





/* Historiesektionen */

#history{
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 5vw;
}

#historytext{
  height: 300px;
}

#image {
  border-radius: 30px;
  width: 100%;
  height: auto;
}

#imagecenter {
  border-radius: 30px;
  max-width: 100%;
  height: auto;

}

#centersection {
  padding-left: 50px;
  padding-right: 50px;
  width: 25vw;
}



/* Faciliteter */

#facilities{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3EEE7;
  padding: 100px;
  margin-top: 50px;
}

#vr{
  margin: auto;
  width: 40%;
  border-right: 3px solid black;
  padding: 10px;
  text-align: center;
  align-items: center;
  height: 10vw;
}

#vr h1 {
  padding-top: 3vw;
}

#listfacilities {
  padding-left: 5vw;
}



/* Undervisning og aktiviteter */
#activities{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

#leftbox {
  width: 70%;
  padding-right: 50px;
}
#rightbox {
  width: 70%;
}


/* --FOOTER STYLES------------------------------------- */
footer{ 
  display: flex;
  justify-content: space-around;
  background-color: #7a6b3f;
  color: #FDF7F0;
  padding: 3vh 0vh 3vh 0vh;
}

footer h4{ 
  padding-bottom: 1vh;
}

/* Denne div lagde sig vandret, derfor flex columme */
#footer-betingelser{
  display:flex;
  flex-direction: column;
}

#footer-betingelser a{
  text-decoration: none;
  color: #FDF7F0;
}

.footer-sociale{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width:7vw;
  color: #FDF7F0;
}

.footer-sociale .fa-brands{
font-size: 2.5vh;
} 
